/*===================================================================
  COLORS
===================================================================*/

$main-color: rgb(0, 119, 230);      // deep blue
$second-color: rgb(11, 46, 120);    // dark blue
$action-color: rgb(102, 229, 209);  // turquoise flash

// gradient from $action-color to $main-color
$blue-1: rgb(85, 211, 213);
$blue-2: rgb(68, 192, 216);
$blue-3: rgb(51, 174, 220);
$blue-4: rgb(34, 156, 223);
$blue-5: rgb(17, 137, 227);
