<main class="main_faq main-section" data-ng-controller="faqitemCtrl">
  <h1>FAQ</h1>
  <div class="border-top"></div>
  <div data="faq" slick-slider="{
    dots: true,
    arrows: false,
    slidesToShow:1,
    infinite:false}">
      <div data-ng-repeat="item in faq">
        <h2>{{item.question}}</h2>
        <p>"{{item.reponse}}"</p>
      </div>
      <div>
        <h2>J'ai une question !</h2>
        <p>Envoyer nous  votre question et nous y répondrons dans les plus bref délais !</p>

        <form action="" method="post"
		          name="contact_form"
		          class="css-form contact_form"
		          data-ng-controller="contactformCtrl as contactform"
		          data-ng-submit="submitForm(contact_form.$valid)"
		          novalidate>

      		<input type="email" name="mail" id="mail" placeholder="Entrer votre mail" data-ng-model="mail" required>
        	<small data-ng-show="contact_form.mail.$invalid && !contact_form.mail.$pristine" class="help-block">Entrer une adresse email valide.</small>
        	<textarea id="question" placeholder="Quelle est votre question ?" data-ng-model="question" required></textarea>

          <input type="submit" value="Envoyer" class="button" id="submit_question" data-ng-disabled="contact_form.$invalid"/>
        </form>
          <p>Ou Appelez nous au 02 497 279</p>
      </div>
  </div>
  <div class="border-bottom"></div>
</main>