<!doctype html>
<html lang="en" ng-app="gulyApp">
<meta charset="utf-8">

<title>Demo of Angular Local Storage Module</title>

<meta name="description" content="Demo of Angular Local Storage Module">
<meta name="author" content="Gregory Pike">

<body>

<!-- BEGIN DEMO -->

<div class="container">

    <form action="#" ng-controller="storageCtrl">
      <p><input type="text" name="nickname" id="nickname" ng-model="nickname" placeholder="Start typing..."></p>

       <p><input type="text" name="lastname" id="lastname" ng-model="lastname" placeholder="Start typing..."></p>

       <input type="submit" value="ok">
<!-- 
      <blockquote class="well" ng-show="nicknameVal">
        <p ng-bind="nicknameVal"></p>
        <small>{{storageType}} value</small>
        <p>{{nickname}}</p>
      </blockquote> -->
    </form>
</div>

<!-- END DEMO -->

<!-- JAVASCRIPT -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
<script src="//rawgit.com/grevory/angular-local-storage/master/dist/angular-local-storage.min.js"></script>
<script src="demo-app.js"></script>
</body>
</html>
