/* =============================
	FAQ
============================= */
.page-astuces {
	width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: -20px 0 0 0;
   	background: $degrade-1;
}

.main_astuces {
	color: white;
	height: 100vh;
	padding: 2vh 5vw;

	p {
		font-size: 18px;
		line-height: 22px;
	}
}