/*===================================================================
  MAIN PAGE (water tracker)
===================================================================*/

.main-wrapper {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.mega-number__wrapper {
    flex-grow: 2;

  // the big water tracker number
  .mega-number {
    strong {
      font-size: 8rem;
      letter-spacing: -1rem;
      font-weight: 300;
    }
  }

  // the unit suffix of the big number
  .suffix {
    font-size: 4rem;
    text-transform: uppercase;
  }
}
.tip-wrapper {
  flex-grow: 1.5;
}




/*===================================================================
  PROFIL PAGE (LIGHTBOX)
===================================================================*/
.close_btn {
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}