/*===================================================================
  MAIN PAGE (water tracker)
===================================================================*/
.main-wrapper {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.mega-number__wrapper {
    flex-grow: 2;

  // the big water tracker number
  .mega-number {
    strong {
      font-size: 8rem;
      letter-spacing: -1rem;
      font-weight: 300;
    }
  }

  // the unit suffix of the big number
  .suffix {
    font-size: 4rem;
    text-transform: uppercase;
  }
}
.tip-wrapper {
  flex-grow: 1.5;
}

// Buttons
.action_btn {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
}

.waves{
  -webkit-animation:waves 1.0s linear;
  animation:waves 1.0s linear;
}

@-webkit-keyframes waves{
  from{
    box-shadow:0 0 #fff,0 0 0 1px rgba(0,150,255,.5)
  }
  to{box-shadow:0 0 0 8px #fff,0 0 0 12px rgba(0,150,255,0)
  }
}

@keyframes waves{
  from{
    box-shadow:0 0 #fff,0 0 0 1px rgba(0,150,255,.5)
  }
  to{box-shadow:0 0 0 8px #fff,0 0 0 12px rgba(0,150,255,0)
  }
}