/* =============================
	Notifications
============================= */

.notifications {
	#push_connexion {
		//display: none;
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100vw;
		height: 15vh;
		background: transparentize($action-color, .1);
		color: white;
		z-index:1001;
		overflow: hidden;

	}
}