// PROFIL PAGE INIT.
.main_profil,
.result_section {
	height: 92vh;
}

.intro {
	height: 30vh;
}

.profil_form {
	.switch_section {
		margin-top: 5vh;
	}
}
// LIGHTBOX RESULT OBJECTIF
.lightbox_objectif_off {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 0;
	height: 0;
	z-index:1001;
	overflow: hidden;
}

.lightbox_objectif_on {
	display: block;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,.8);
	color: white;
	z-index:1001;

	h2 {
		color: white;
		font-size: 12vw;
		padding: 6vh 0 0 0;

	}

	.BH {
		font-size: 30vw;
	}

	.return_btn {
		font-size: 40px;
		position: absolute;
		top: 10px;
		left: 10px;
	}
}

