/* =============================
		PROFIL PAGE INIT.
============================= */

.main_profil,
.result_section {
  width: 100%;
  height: 100vh;
  padding: 0 15px;
  overflow: auto;
}

.intro {
	height: 30vh;
	text-align: center;

	h1 {
		font-family: $miso-bold;
		font-size: 35px;
		letter-spacing: 2px;
		margin: 8% 0 0 0;
		color: $action-color;
	}

	p {
		margin: -10px 0 0 0;
	}
}

.profil_form {

	#nickname,
	.weight
	.switch_section {
		width: 100%;
		margin: 0 0 45px 0;
	}

	// icons
	label:before {
		content: '';
		display: block;
  		width: 35px;
  		height: 35px;
  		position: absolute;
	}
	.nickname {
		&:before {
			background: url(../img/icon_profil.svg) 0 0 no-repeat;
			background-size: 100%;
			margin: -4% 0 0 0;

		}
	}

	.weight {
		&:before {
			background: url(../img/icon_weight.svg) 0 0 no-repeat;
			background-size: 100%;
			margin: -2% 0 0 0;

		}
		&:after {
			content: "Kg";
			float: right;
		}
	}
	
	// nickname input
	#nickname {
		border: none;
		border-bottom: 1px solid $action-color;
		border-radius: 0;

		&[placeholder] {
			padding: 0 0 0 50px;
			color: $second-color;
		}
	}

	// weight select
	.weight {
		border-bottom: 1px solid $action-color;
		overflow: auto;
		width: 100%;
	}
	select#weight {
		width: 70%;
		float: left;
		margin: 0 0 0 50px;
		border: none;
		border-radius: none;
	}
	
	// switch buttons
	.switch_section {
		clear: both;
		border: none;
		padding: 14% 0 0 0;

		.switch_label {
			small {
				display: block;
				font-size: 16px;
				font-family: $miso-light;
			}
		}
	}

	.button {
		margin: 25px 0 0 0;
	}
}

/* =============================
		RESULT OBJECTIF
============================= */

.main_wn {
	.result_section {
		text-align: center;

		h2 {
			font-family: $miso-bold;
			font-size: 35px;
			letter-spacing: 2px;
			margin: 32px 0 15px 0;
			//color: $action-color;
		}

		.ObjTitle {
			font-size: 28px;
		}

		.WN {
			font-family: $miso-regular;
			font-size: 80px;
			color: $action-color;
			padding: 25px 0 0 0;
		}

		strong {
			font-family: $miso-bold;
			//font-size: 20px;
			//color: $action-color;
		}
	}

	.button {
		text-align: center;
	}
}