/*===================================================================
  MAIN PAGE (water tracker)
===================================================================*/
.page-tracker {
  background: $main-color;
  height: 100%;
}

.water-meter__round-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 2s .2s $smooth-transition;
  transform: rotate(0);

  display: flex;
  flex-direction: columns;
  align-items: flex-end;

  .water-meter__level {
    display: block;
    width: 100%;
    height: 100%;

    background: repeating-linear-gradient(
                  45deg,
                  transparent,
                  transparent 9px,
                  $white-color 9px,
                  $white-color 10px
                );
    background-size: 100% 100%;
    background-position: 100% 0;
    background-repeat: no-repeat;
    transition: 2s .2s $smooth-transition;
  }


}

.mega-number__wrapper {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;

  // the big water tracker number
  .mega-number {
    color: $white-color;
    font-size: 60vw;
    letter-spacing: -6vw;
  }
}

.ui {
  position: absolute;
  top: 3%;
  right: 3%;
  display: block;
  width: 50px;
  height: 50px;
  padding: 10px;
  background: $white-color;
  border-radius: 50%;
  border-top-right-radius: 0;

  /* SPORT MODE */
  .sport {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/icon_sport.svg) no-repeat;
    background-position: 50% 0%;
    background-size: 100%;

    &.active {
      background-position: 50% 0%;
    }
  }
  /* TEMOIN CONNEXION */
  .temoin {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #dfdfdf;
    background: rgb(100, 189, 99);
  }

  .temoin_off {
    background: #dfdfdf;
    border: 1px solid #adadad;

  }
}