/*===================================================================
  MAIN PAGE (water tracker)
===================================================================*/

// config
$wt-rad: 140vmax;


.main-wrapper {

}

.water-meter__round-wrapper {
  position: absolute;
  // moitié de la largeur-longueur de l'écran moins moitié de la longueur du round wrapper
  // ce calcule ne peut être fait avec une variable (variable non interpréter)
  top: calc(50vh - 70vmax);
  left: calc(50vw - 70vmax);
  width: $wt-rad;
  height: $wt-rad;

  transition: 2s .2s cubic-bezier(0.43,-0.52, 0.46, 1.27);
  transform: rotate(0);

  display: flex;
  flex-direction: columns;
  align-items: flex-end;

  background: repeating-linear-gradient(
                315deg,
                transparent,
                transparent 20px,
                $main-color 20px,
                $main-color 25px,
                transparent 25px,
                transparent 45px
              );
  background-size: 100% 100%;
  background-position: 100% 100%;
  background-repeat: no-repeat;

  // .water-meter__level {
  //   display: block;
  //   width: 100%;
  //   background: #A3FFC8;
  //   transition: 2s .2s cubic-bezier(0.43,-0.52, 0.46, 1.27);
  // }

// fUnction to generate a stripped bg automatically
  // @function stripped-bg($first-color, $second-color) {
  //   @for $i from 0 through 10 {
  //     $first-color: $i * 5%;
  //     $second-color: $i * 5%;
  //   }
  //   @return $first-color, $second-color;
  // }
  // @debug(stripped-bg(red, blue));
}

.mega-number__wrapper {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;

  // the big water tracker number
  .mega-number {
    font-size: 8rem;
  }
}
