/*===================================================================
  MAIN PAGE (water tracker)
===================================================================*/
.main-wrapper {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.mega-number__wrapper {
    flex-grow: 2;
    text-align: center;
    padding: 20% 0;

  // the big water tracker number
  .mega-number {
      font-size: 8rem;
      font-weight: 300;
  }

  // the unit suffix of the big number
  .suffix {
    font-size: 4rem;
    text-transform: uppercase;
  }
}
.tip__wrapper {
  flex-grow: 1.5;
  text-align: center;
}


/* ======================================
                SPORT MODE
=========================================*/
.sport {
  &:before {
    content: '';
    background: url(../img/icon_sport.svg) 0 0 no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    background-size: 100%;
    position: absolute;
    top: 8%;
    right: 2%; 
  }
}

/* ======================================
                TEMOIN CONNEXION
=========================================*/
.temoin {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #dfdfdf;
  background: rgb(100, 189, 99);
  position: absolute;
  right: 10px;
  top: 10px;
}

.temoin_off {
  background: #dfdfdf;
  border: 1px solid #ADADAD;

}