<!--GOOEY MENU -->
<div class="gooey__wrapper">
  <ul class="gooey">

    <li class="gooey__open-button" data-ng-class="{opened:gooeyOn}">
      <a href="" class="gooey__item__content" data-ng-click="gooeyOn = !gooeyOn">
        <svg class="drink-icon__svg" preserveAspectRatio="xMidYMid" viewBox="0 0 100 100">
          <use class="drink-icon--picto" xlink:href="#drink-icon"></use>
        </svg>
      </a>
    </li>

    <li class="gooey__item">
      <a href="" id="gooey__add--small" class="gooey__item__content" data-ng-click="updateToDrink(drinkSize.small); gooeyOn = !gooeyOn">
        {{ drinkSize.small | litres:'ml' }}
      </a>
    </li>

    <li class="gooey__item">
      <a href="" id="gooey__add--medium" class="gooey__item__content" data-ng-click="updateToDrink(drinkSize.med); gooeyOn = !gooeyOn">
        {{ drinkSize.med | litres:'ml' }}
      </a>
    </li>

    <li class="gooey__item">
      <a href="" id="gooey__add--large" class="gooey__item__content" data-ng-click="updateToDrink(drinkSize.large); gooeyOn = !gooeyOn">
        {{ drinkSize.large | litres:'ml' }}
      </a>
    </li>

    <li class="gooey__item">
      <a href="" id="gooey__remove" class="gooey__item__content" ng-click="updateToDrink(drinkSize.latest); gooeyOn = !gooeyOn">
        Annuler
      </a>
    </li>

  </ul>
</div>
<svg class="svg-defs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="0" style="display:none">
    <defs>
      <!-- filter -->
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
        <feBlend in2="goo" in="SourceGraphic" result="mix" />
      </filter>
      <!-- icon -->
      <symbol id="drink-icon">
        <polyline fill="none" stroke="#ffffff" stroke-width="12" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="86.9,8.6 74.2,91.4 25.8,91.4 13.1,8.6"/>
        <path fill="none" stroke="#ffffff" stroke-width="12" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M84,26.5c-7.9,8.8-24.5,10.9-33.3,4.8s-25.6-3.7-33.3,4.8"/>
      </symbol>
    </defs>
</svg>
<!-- end filter -->
<!-- end GOOEY MENU