<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0">
  <def>
  <g>
    <path id="wave" d="M28.2,3c-3,4.8-9.5,5.6-13.2,2S4.7,2.4,1.8,7.1"/>/>
  </g>
  <symbol id="menu-icon--def">
    <use xlink:href="#wave" id="wave-1"></use>
    <use xlink:href="#wave" id="wave-2" y="10"></use>
    <use xlink:href="#wave" id="wave-3" y="20"></use>
  </symbol>
  </def>
</svg>


<!-- Menu Toogle -->
<a href="" ng-class="{navOpened:mainNavOn}" ng-click="mainNavOn = !mainNavOn" id="main-nav__toggle-button" class="main-nav__toggle-button">
  <svg class="menu-icon__wrapper" width="30" height="30">
    <use class="menu-icon--use" id="wave-1" xlink:href="#wave"></use>
    <use class="menu-icon--use" id="wave-2" xlink:href="#wave" y="10"></use>
    <use class="menu-icon--use" id="wave-3" xlink:href="#wave" y="20"></use>
  </svg>
</a>

<aside class="offcanvas">

  <nav ng-class="{navOpened:mainNavOn}" class="main-nav">
    <ul>
      <li><a ng-click="mainNavOn = false" href="#/water-tracker">Water Tracker</a></li>
      <li><a ng-click="mainNavOn = false" href="#/profil">Profil</a></li>
      <li><a ng-click="mainNavOn = false" href="#/statistiques">Statistiques</a></li>
      <li><a ng-click="mainNavOn = false" href="#/astuces">Astuces</a></li>
      <li><a ng-click="mainNavOn = false" href="#/faq">FAQ</a></li>
      <li><a ng-click="mainNavOn = false" href="#/boutique">Boutique</a></li>
    </ul>
  </nav>
</aside>
