.temp {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: block;
  border: 3px solid;
  padding: 1rem;
  border-radius: 500px;

  color: white;
  background: transparentize($second-color, .7);

  text-align: center;
  font-size: 2.4rem;
  text-transform: uppercase;
}