<main class="main_astuces main-section" controller="astucesController as testctrl">
{{ testctrl.test }}
	<h1>Astuces</h1>
  <p>Retrouve ici la liste des astuces que tu as déjà débloquées!</p>

	<slick>
    <div data-ng-repeat="astuce in astuces">
			<ul class="astuces">
				<li>
					<p>{{ astuce.astuce }}</p>
					<ul class="socialnetwork">
						<li><a href="#"></a>facebook</li>
						<li><a href="#"></a>twitter</li>
						<li><a href="#"></a>envoyer à un ami</li>
					</ul>
				</li>
			</ul>
		</div>
	</slick>

</main>