<main class="main_profil main-section main-wrapper" data-ng-controller="FormCtrl" data-ng-controller="uiSwitchCtrl">
    <div class="intro">
        <h1>Hello !</h1>
        <p>Bienvenue sur Guly, ton coach personnel en matière d’hydratation !</p>
    </div><!-- end of .intro -->

	<div>
		<form name="form" class="css-form profil_form" novalidate>

        <!-- Nickname input -->
        <label for="nickname" class="nickname"></label>
	    <input type="text" data-ng-model="user.nickname" id="nickname" name="nickname" placeholder="Prénom" required="" />
	    <br />
	    <div data-ng-show="form.$submitted || form.nickname.$touched">
	      <div data-ng-show="form.nickname.$error.required">Quel est ton prénom ?</div>
	    </div>

	     <!-- Weight select -->
        <label for="poids" class="weight">Poids</label>
	    <select name="poids" id="poids">
  			<option
            	data-ng-repeat="x in [] | range:0:250"
            	value="{{x}}">{{x}}
            </option>
	    </select>
		<div class="switch_section">
		    <!-- Notifications switch button -->
			<label for="notifications" class="switch_label">Notifications
			  <switch name="notif" ng-model="notif" ng-change="changeCallback" id="notifications"></switch>
			</label>
		</div>
		<div class="switch_section">
		    <!-- Bouchon intelligent switch button -->
			<label for="smartCap" ng-click="enabled=!enabled" class="switch_label">Guly SmartCap
			  <switch name="smartcap" ng-model="smart" ng-change="changeCallback" id="smartCap"></switch>
			</label>
		</div><!-- end of .switch_section -->

		<!-- Submit button -->
		<input type="submit" data-ng-click="update(user)" value="Calculer mon objectif" class="button action_btn" id="submit_objectif" />
	  </form>
	</div>
</main>
