<main class="main_profil main-section main-wrapper" data-ng-controller="uiSwitchCtrl">
    <div class="intro">
       <h1>Hello !</h1>
       <p>Bienvenue sur Guly, ton coach personnel en matière d’hydratation !</p>
    </div><!-- end of .intro -->

  <form action="#/water-need"
        method="post" 
        name="profil_form" 
        class="css-form profil_form" 
        data-ng-controller="profilformCtrl as profilform"
        data-ng-submit="submitForm(profil_form.$valid)"
        novalidate>

    <!-- Nickname input -->
    <label for="nickname" class="nickname">
      <input type="text" data-ng-model="nickname" id="nickname" name="nickname" placeholder="Prénom" autofocus required/>
    </label>

    <label for="">
    <span>input test</span>
    <input type="text" ng-model="foo" name="foo">
    </label>

    <!-- Weight select -->
    <label for="weight" class="weight">
      <span>Poids</span>
      <select name="weight" id="weight" data-ng-model="weight">
        <option data-ng-repeat="x in [] | range:0:250" value="{{x}}">{{x}}</option>
      </select>
    </label>

    <!-- Notifications switch button -->
    <fieldset class="switch_section">
      <label for="notifications" class="switch_label">
        <span>Notifications</span>
        <switch name="notif" ng-model="notif" ng-change="changeCallback" id="notifications"></switch>
      </label>

      <!-- Sport mode switch button -->
      <label for="sport" class="switch_label">
        <span>Sport</span>
        <switch name="sport" ng-model="sport" ng-change="changeCallback" id="sport"></switch>
      </label>

      <!-- Bouchon intelligent switch button -->
      <label for="smartCap" ng-click="enabled=!enabled" class="switch_label">
        <span>Guly SmartCap</span>
        <switch name="smartcap" ng-model="smart" ng-change="changeCallback" id="smartCap"></switch>
        <small>Connecte ton bouchon intelligent !</small>
      </label>

    </fieldset><!-- end of .switch_section -->

    <!-- Submit button -->
    <input type="submit" value="Calculer mon objectif" class="button action_btn" id="submit_objectif" ng-disabled="profil_form.$invalid" />
  </form>
</main>
