<main class="main_stats main-section">
	<h1>Statistiques</h1>

	<ul class="badges">
		<li><img src="img/badge_100.png" alt=""></li>
		<li><img src="img/badge_80.png" height="100" width="100" alt=""></li>
		<li><img src="img/badge_60.png" height="100" width="100" alt=""></li>
		<li><img src="img/badge_40.png" height="100" width="100" alt=""></li>
		<li><img src="img/badge_20.png" height="100" width="100" alt=""></li>
		<li><img src="img/badge_0.png" height="100" width="100" alt=""></li>
	</ul>
</main>