/*===================================================================
  COLORS
===================================================================*/

$main-color: rgb(0, 119, 230);       // deep blue
$second-color: rgb(11, 46, 88);      // dark blue
$action-color: rgb(102, 229, 209);   // turquoise flash
$white-color: rgb(255, 255, 255);    // white

// gradient from $action-color to $main-color
$blue-1: rgb(85, 211, 213);
$blue-2: rgb(68, 192, 216);
$blue-3: rgb(51, 174, 220);
$blue-4: rgb(34, 156, 223);
$blue-5: rgb(17, 137, 227);


$degrade-1: linear-gradient(to bottom, $blue-3 12%, $blue-1 12%, $action-color 90%, $action-color 90%);

@mixin wavey-bg($bg-color, $wave-color, $size) {
  background: repeating-radial-gradient(
    circle at 50% -30%,
    $bg-color,
    $bg-color 50%,
    $wave-color 51%,
    $wave-color 55%,
    $bg-color 56%);
  background-size: $size $size;
};
@mixin dotted-bg($dot-color, $bg-color, $size) {
  background: repeating-radial-gradient(
    $dot-color,
    $dot-color 50%,
    $bg-color 50%,
    $bg-color);
  background-size: $size $size;
};

@mixin striped-bg($color1, $color2, $size, $angle) {
  background: repeating-linear-gradient(
                $angle,
                $color1,
                $color1 9px,
                $color2 9px,
                $color2 10px
              );
  background-size: $size $size;
};