// base z-index of the lateral menu
$offcanvas-z-index: 1000;

// number of items in the menu
$main-menu-items: 6;

// transition timing function fot the UI
$smooth-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);

@keyframes blob {
  0%, 100% {
    transform: scale(1, 1);
  }
  25%, 75% {
    transform: scale(1.1, .9);
  }
  50% {
    transform: scale(1, 1.1);
  }
}

@keyframes water1 {
  0%, 100% {
    background-position: 0 0;
  }
  20% {
    background-position: -10px -3px;
  }
  40% {
    background-position: -3px 5px;
  }
  60% {
    background-position:  7px 9px;
  }
  80% {
    background-position: 3px -12px;
  }
}
@keyframes water2 {
  0%, 100% {
    background-position: 0 0;
  }
  20% {
    background-position: 10px -3px;
  }
  40% {
    background-position: -7px 3px;
  }
  60% {
    background-position:  4px -2px;
  }
  80% {
    background-position: 10px -6px;
  }
}