.page-stats {
  width: 100%;
  height: 100%;
  overflow: auto;
  // @include wavey-bg(transparent, $second-color, 10%);
  background: url(../img/bg-aqua-2.svg);
  
  h2 {
    text-align: center;
    padding: 25px 0 8px 0;
  }
}
/*  GRAPHE
===================================================================*/

.chart {
  background: $blue-4;
  width: 100%;
  height: 320px;
}


/*  BADGES
===================================================================*/

.badges {

  li {
    float: left;    
    width: 50%;
    text-align: center;
    position: relative;

    img {
      width: 100%;
      height: auto;
    }

    h2 {
      font-size: 1.4em;
      color: $second-color;
      margin: -6px 0 20px 0;
    }

    .description {
      position: absolute;
      top: 0;
      left: 5px;
      width: 94%;
      padding: 8px;
      font-family: $miso-light;
      color: $white-color;
      background: transparentize($second-color, 0.1);
      border-radius: 5px;
    }
  }
}