/*===================================================================
  MAIN PAGE (water tracker)
===================================================================*/
.page-tracker {
  background: $main-color;
  height: 100%;
}

.water-meter__round-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 2s .2s $smooth-transition;
  transform: rotate(0);

  display: flex;
  flex-direction: columns;
  align-items: flex-end;

  .water-meter__level {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 3px solid $white-color;

    @include striped-bg(transparent, $white-color, 200%, 45deg);
    background-position: 50% 50%;
    background-repeat: repeat;

    animation: water1 30s ease-in-out infinite;
    transition: 2s .2s $smooth-transition;
  }
  .water-meter__level__bg {
    @extend .water-meter__level;
    height: 100%;
    animation: water2 35s linear infinite;
  }
}

.mega-number__wrapper {
  position: absolute;
  top: 0%;
  bottom: 20%;
  left: 0%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;

  // the big water tracker number
  .mega-number {
    color: $white-color;
    font-size: 60vw;
    letter-spacing: -6vw;
  }
}

.astuce__wrapper {
  position: absolute;
  bottom: 27%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  .astuce {
    &.step2 {
      padding: 2rem;
      border: 3px solid;
      border-radius: 7px;
      background-color: transparentize($second-color, .7);
      color: $white-color;
    }
  }
}

.ui {
  position: absolute;
  top: 3%;
  right: 3%;
  display: block;
  width: 50px;
  height: 50px;
  padding: 10px;
  background: $white-color;
  border-radius: 50%;
  border-top-right-radius: 0;

  /* SPORT MODE */
  .sport {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/icon_sport-2.svg) no-repeat;
    background-position: 50% 100%;
    background-size: 100%;

    &.active {
      background-position: 50% 0%;
    }
  }
  /* TEMOIN CONNEXION */
  .temoin {
    position: absolute;
    right: 0px;
    bottom: -15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #dfdfdf;
    background: rgb(100, 189, 99);
  }

  .temoin_off {
    background: #dfdfdf;
    border-color: #adadad;

  }
}